#Level 1: Basics (Warm-up)

Create a variable called city and store the name of your city. Print it.

Store your age in a variable age and print its type.

Assign the value 10 to a variable x. Change it to 20. Print x.

Create two variables a = 5 and b = 7. Print their sum.

Store your full name in a variable and print it using print().

In [1]:
#Create a variable called city and store the name of yout city

my_city="kathmandu"
print(my_city)

kathmandu

In [3]:
#Store your age in a variable age and print its type.

my_age=20
print(type(my_age))
print(my_age)

<class 'int'>
20

In [4]:
#Assign the value 10 to a variable x. Change it to 20. Print x.

x=10
print(x)

x=20
print(x)

10
20

In [5]:
#Create two variables a = 5 and b = 7. Print their sum.

a=5
b=7
print("sum:", a+b)

sum: 12

In [6]:
#Store your full name in a variable and print it using print().

my_name="Roja Shrestha"
print(my_name)

Roja Shrestha

#Level 2: Data Types & Type Checking

Create a variable price with value 99.99. Print its type.

Store True in a variable called is_student. Print it.

Convert the string "50" into an integer and store it in num.

Add an integer 10 and a float 2.5. Store the result in total.

Create a variable height as an integer. Convert it into a float.

In [7]:
#Create a variable price with value 99.99. Print its type.

price_value=99.99
print(type(price_value))

<class 'float'>

In [9]:
#Store True in a variable called is_student. Print it.

is_student=True
print(is_student)


#Key thing to remember:

# True and False → boolean (no quotes, capital T/F)

# "True" or "true" → string (text)

True

In [11]:
#Convert the string "50" into an integer and store it in num.

num="50"
num1=int(num)
print(num1)

50

In [12]:
#Add an integer 10 and a float 2.5. Store the result in total.

num1=10
num2=2.5
total=num1+num2
print(total)

12.5

In [ ]:
#Create a variable height as an integer. Convert it into a float.

height=5
print(float(height))

##Level 3: Multiple Assignment

Assign values 1, 2, 3 to variables x, y, z in one line.

Assign the same value 0 to three variables a, b, and c.

Swap the values of x = 5 and y = 10 without using a third variable.

In [13]:
#Assign values 1, 2, 3 to variables x, y, z in one line.

x,y,z=1,2,3
print(x,y,z)

1 2 3

In [17]:
#Assign the same value 0 to three variables a,b,c 

a=b=c=0
print(a,b,c)

0 0 0

In [22]:
#Swap the values of x = 5 and y = 10 without using a third variable.

x=5
y=10
x, y =y, x
print("x= ",x )
print("y= ",y)

x=  10
y=  5

##Level 4: Variables + Input

Take user input for name and print:
Hello, <name>!

Take two numbers from the user and print their sum.

Take age as input and print its data type.

In [26]:
# #Take user input for name and print:
# Hello, <name>!

name=input("enter your name?")
print("hello", name)

hello roja

In [31]:
#Take two numbers from the user and print their sum.

num1=int(input("enter the number 1:"))
num2=int(input("enter the number 2:"))
sum=num1+num2
print("the sum of the two numbers is:",sum)

the sum of the two numbers is: 11

In [32]:
#Take age as input and print its data type.

my_age=8
print(type(my_age))

<class 'int'>